wszvszxcvaet4was
edge {
  line-color: #000000;
  mid-target-arrow-shape: triangle;
  mid-target-arrow-color: #000000;
  width: 2px;
}
asxczfawerwqsavxzcvx
.fprime-instance {
  shape: rectangle;
  width: 400px;
  height: 450px;
  label: data(label);
  font-size: 28px;
  text-halign: data(label_hloc);
  text-valign: data(label_vloc);
  text-opacity: 1;
  text-margin-y: 0px;
  background-color: rgb(252, 242, 199);
  border-width: 2px;
  border-color: #c0c0c0;
}
xzaseqwzcs
.fprime-component {
  shape: rectangle;
  width: 400px;
  height: 450px;
  label: data(label);
  font-size: 28px;
  text-opacity: 0.5;
  text-halign: data(label_hloc);
  text-valign: data(label_vloc);
  text-margin-y: 0px;
  background-color: rgb(216, 204, 186);
  border-width: 2px;
  border-color: #c0c0c0;
}
qwerwefasfd
.fprime-port {
  shape: rectangle;
  width: 50px;
  height: 50px;
  label: data(label);
  font-size: 25px;
  text-opacity: 0.5;
  text-halign: data(label_hloc);
  text-valign: data(label_vloc);
  background-color: rgb(205, 217, 205);
  background-image: data(img);
  background-width: 70%;
  background-height: 70%;
  border-width: 2px;
  border-color: rgb(158, 173, 145);
}
wqghergsadqfa 213E  
#SG1 {
  x: 721.9678368993482;
  y: 1292.5765196687964;
  width: 50px;
  height: 50px;
}
GWR3QWEAFSVXV
#SG1_logTextOut {
  x: 789.3011702326814;
  y: 1065.5765196687964;
}
asdfasvcx
#SG1_logOut {
  x: 654.6345035660148;
  y: 1065.5765196687964;
}
234621rFS.
#textLogger {
  x: 1769.3436005180972;
  y: 859.4952547519763;
}
#eafsdfssadv{}
#textLogger_TextLogger {
  x: 1567.3436005180972;
  y: 859.4952547519763;
}
.asdfsvsad{}
#SG2 {
  x: 1236.964349457702;
  y: 1329.4257877666462;
}
asv
#SG2_logTextOut {
  x: 1236.964349457702;
  y: 1102.4257877666462;
}

#SG2_logOut {
  x: 1034.964349457702;
  y: 1329.4257877666462;
}

#SG3 {
  x: 217;
  y: 1107.3916564487834;
}

#SG3_logTextOut {
  x: 419;
  y: 1107.3916564487834;
}

#SG3_logOut {
  x: 217;
  y: 880.3916564487834;
}

#SG4 {
  x: 1299.9665594533583;
  y: 242;
}

#SG4_logTextOut {
  x: 1299.9665594533583;
  y: 469;
}

#SG4_logOut {
  x: 1097.9665594533583;
  y: 242;
}

#SG5 {
  x: 275.1363889545803;
  y: 392.5646645122904;
}

#SG5_logTextOut {
  x: 477.1363889545803;
  y: 392.5646645122904;
}

#SG5_logOut {
  x: 275.1363889545803;
  y: 619.5646645122904;
}

#eventLogger {
  x: 786.3856505814974;
  y: 248.9918895145886;
}

#eventLogger_LogRecv {
  x: 786.3856505814974;
  y: 475.9918895145886;
}

#eventLogger_LogText {
  x: 988.3856505814974;
  y: 248.9918895145886;
}