.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
.nyc_output/
package-lock.json
test/Simple/acme_output
test/Simple/fpp_output
test/Simple/styles
