#Ref_SG1 {
  x: 217;
  y: 1039.83323703335;
}

#Ref_SG1_logTextOut {
  x: 419;
  y: 964.1665703666835;
}

#Ref_SG1_logOut {
  x: 419;
  y: 1115.4999037000168;
}

#Ref_textLogger {
  x: 1109.8249788282628;
  y: 839.4321286920783;
}

#Ref_textLogger_TextLogger {
  x: 907.8249788282628;
  y: 839.4321286920783;
}

#Ref_SG2 {
  x: 1644.5026209484183;
  y: 1196.2021278921702;
}

#Ref_SG2_logTextOut {
  x: 1442.5026209484183;
  y: 1120.5354612255035;
}

#Ref_SG2_logOut {
  x: 1442.5026209484183;
  y: 1271.868794558837;
}

#Ref_SG3 {
  x: 1282.507302970004;
  y: 1765.2492502130399;
}

#Ref_SG3_logTextOut {
  x: 1282.507302970004;
  y: 1538.2492502130399;
}

#Ref_SG3_logOut {
  x: 1080.507302970004;
  y: 1765.2492502130399;
}

#Ref_SG4 {
  x: 970.8780075942443;
  y: 242;
}

#Ref_SG4_logTextOut {
  x: 1038.2113409275776;
  y: 469;
}

#Ref_SG4_logOut {
  x: 903.5446742609109;
  y: 469;
}

#Ref_SG5 {
  x: 428.542399252817;
  y: 449.82311065862234;
}

#Ref_SG5_logTextOut {
  x: 630.542399252817;
  y: 449.82311065862234;
}

#Ref_SG5_logOut {
  x: 428.54239925281695;
  y: 676.8231106586223;
}

#Ref_eventLogger {
  x: 764.0875306507673;
  y: 1191.7556621702083;
}

#Ref_eventLogger_LogRecv {
  x: 764.0875306507673;
  y: 964.7556621702083;
}

#Ref_eventLogger_LogText {
  x: 966.0875306507673;
  y: 1191.7556621702083;
}