#Ref_textLogger {
  x: 990.2856584390101;
  y: 242;
}

#Ref_textLogger_TextLogger {
  x: 990.2856584390101;
  y: 469;
}

#Ref_eventLogger {
  x: 1565.6458952418295;
  y: 985.1986449159975;
}

#Ref_eventLogger_LogRecv {
  x: 1363.6458952418295;
  y: 985.1986449159976;
}

#Ref_chanTlm {
  x: 986.9998174496891;
  y: 1730.7987674094777;
}

#Ref_chanTlm_TlmRecv {
  x: 986.9998174496891;
  y: 1503.7987674094777;
}

#Ref_linuxTime {
  x: 217;
  y: 1405.7200427744378;
}

#Ref_linuxTime_timeGetPort {
  x: 419;
  y: 1405.7200427744378;
}

#Ref_cmdDisp {
  x: 219.7466330607961;
  y: 552.8487615491624;
}

#Ref_cmdDisp_compCmdSend {
  x: 421.7466330607961;
  y: 552.8487615491624;
}

#Ref_cmdDisp_compCmdReg {
  x: 421.7466330607961;
  y: 439.3487615491624;
}

#Ref_cmdDisp_compCmdStat {
  x: 421.7466330607961;
  y: 666.3487615491624;
}

#Ref_SG1 {
  x: 866.315974217224;
  y: 986.3336263647408;
}

#Ref_SG1_timeCaller {
  x: 664.315974217224;
  y: 1122.5336263647407;
}

#Ref_SG1_cmdRegOut {
  x: 664.315974217224;
  y: 850.1336263647407;
}

#Ref_SG1_cmdIn {
  x: 664.315974217224;
  y: 940.9336263647408;
}

#Ref_SG1_logTextOut {
  x: 866.315974217224;
  y: 759.3336263647409;
}

#Ref_SG1_logOut {
  x: 1068.315974217224;
  y: 986.3336263647407;
}

#Ref_SG1_cmdResponseOut {
  x: 664.315974217224;
  y: 1031.7336263647408;
}

#Ref_SG1_tlmOut {
  x: 866.315974217224;
  y: 1213.3336263647407;
}