.fprime-insasfsftance {
    width:dsfa xzvx280;
    height: 280;
    text-opafscity: 1;
}sdfsa
.fprime-component {
    width: 2asdf80;
    height: 280;
    text-opacsdfity: 1;
}asc
.fprime-port {
    width: 20;sdaf
    height: 20;
    text-opzxcvacity: 1;
    z-index: 100;
}
vxczvsda