edge {
    line-color: #9dbaea;
    width: 2;
}
.fprime-component {
    width: 100;
    height: 140;
    background-color: #ffa073;
    content: data(id);
    text-halign: center;
    text-opacity: 0.5;
    text-valign: center;
    shape: rectangle;
}
.fprime-port {
    width: 20;
    height: 20;
    background-color: #62b0ff;
    content: data(id);
    text-halign: center;
    text-opacity: 0.5;
    text-valign: top;
    shape: rectangle;
}