edge {
    line-color: #000000;
    mid-target-arrow-shape: triangle;
    mid-target-arrow-color: #000000;
    width: 2;
}

.component-component {
    display: none;
}
.instance-port {
    display: none
}
.component-port {
    display: none
}
.fprime-instance {
    shape: rectangle;    
    width: 400;
    height: 450;
    content: data(label);
    font-size : 28;
    text-halign: data(label_hloc);
    text-valign: data(label_vloc);
    text-opacity: 1.0;
    text-margin-y: 0;
    background-color: rgb(252, 242, 199);
    border-width: 2;
    border-color: #c0c0c0;
}
.fprime-component {
    shape: rectangle;
    width: 400;
    height: 450;
    content: data(label);
    font-size : 28;
    text-opacity: 0.5;
    text-halign: data(label_hloc);
    text-valign: data(label_vloc);
    text-margin-y: 0;
    background-color: rgb(216, 204, 186);
    border-width: 2;
    border-color: #c0c0c0;
}
.fprime-port {
    shape: rectangle;
    width: 50;
    height: 50;
    label: data(label);
    font-size : 25;
    text-opacity: 0.5;
    text-halign: data(label_hloc);
    text-valign: data(label_vloc);
    background-color: rgb(205, 217, 205);
    background-image: data(img) ;
    background-width: 70%;
    background-height: 70%;
    border-width: 2;
    border-color: rgb(158, 173, 145)
}